<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>

<%namespace name="progress_graph" file="/courseware/progress_graph.js"/>

<%block name="pagetitle">${_("{course_number} Progress").format(course_number=course.display_number_with_default) | h}</%block>
<%block name="nav_skip">#course-info-progress</%block>

<%!
    from django.core.urlresolvers import reverse
%>

<%!
from util.date_utils import get_time_display
from django.conf import settings
%>

<%block name="js_extra">
<script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.js')}"></script>
<script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.stack.js')}"></script>
<script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.symbol.js')}"></script>
<script>
  ${progress_graph.body(grade_summary, course.grade_cutoffs, "grade-detail-graph", not course.no_grade, not course.no_grade)}
</script>
</%block>

<%include file="/dashboard/_dashboard_prompt_midcourse_reverify.html" />

<%include file="/courseware/course_navigation.html" args="active_page='progress'" />
<link rel="stylesheet" type="text/css" href="${static.url('css/badge.css')}"/>

<div class="container">
  <div class="profile-wrapper">

    <div class="course-info" id="course-info-progress" aria-label="${_('Course Progress')}">
      % if staff_access and studio_url is not None:
        <div class="wrap-instructor-info">
          <a class="instructor-info-action studio-view" href="${studio_url}">${_("View Grading in studio")}</a>
        </div>
      % endif

      <header>
        <h1>${_("Course Progress for Student '{username}' ({email})").format(username=student.username, email=student.email)}</h1>
      </header>

      %if settings.FEATURES.get("SHOW_PROGRESS_SUCCESS_BUTTON"):
        <%
          SUCCESS_BUTTON_URL = settings.PROGRESS_SUCCESS_BUTTON_URL.format(
            course_id=course.id.to_deprecated_string(), student_id=student.id)
          nonzero_cutoffs = [cutoff for cutoff in course.grade_cutoffs.values() if cutoff > 0]
          success_cutoff = min(nonzero_cutoffs) if nonzero_cutoffs else None
        %>
        %if success_cutoff and grade_summary['percent'] > success_cutoff:
          <div id="course-success">
            <a href="${SUCCESS_BUTTON_URL}">
              ${settings.PROGRESS_SUCCESS_BUTTON_TEXT_OVERRIDE or _("Download your certificate")}
            </a>
          </div>
        %endif
      %endif

      %if not course.disable_progress_graph:
        <div id="grade-detail-graph" aria-hidden="true"></div>
      %endif
    %if not settings.FEATURES.get('BADGE_AVAILABLE'):
    ##<h6>${badges_values}</h6>
    <h1>Earned Badges </h1>
	##<p>${badge_earned}</p>   
	##<div class="badgelist-for-courses1">		
	 %if badge_earned: 
		%for badge1 in badge_earned:
			<div class="badge-demo-edx1">			
				##<h4>Badge details ${loop.index+1}:</h4>
				<h4>Badge Name: ${badge1['name']}</h4>
				<h4>BadgeID: ${badge1['id']}</h4>
				<img src=${badge1['imageUrl']} />
                                ##<h4>Strapline: ${badge['strapline']}</h4>
				##<h4>System details:</h4>
				##%for systems in badge_earned['system']:
##<h6>${_("{system_details}: {system_values}").format(system_details=systems,system_values=badge_earned['system'][systems])}</h6>
					
				##%endfor
				##<h4>Issuer details:</h4>
				##%for issuers in badge_earned['issuer']:
##<h6>${_("{issuer_details}: {issuer_values}").format(issuer_details=issuers,issuer_values=badge_earned['issuer'][issuers])}</h6>
				##%endfor
				##<h4>Program details:</h4>
				##%for programs in badge_earned['program']:
##<h6>${_("{program_details}: {program_values}").format(program_details=programs,program_values=badge_earned['program'][programs])}</h6>
				##%endfor
                                
                                ##<h4>Badge Categories: ${badge['categories']}</h4>
                                ##<h4>Consumer Description: ${badge['consumerDescription']}</h4>
			</div>
		%endfor
             
       	     %else:
       		<h2>No earned badges available</h2>
            %endif	
     ##</div>
       <h1>Unearned Badges </h1>
       ##<p>${badge_unearned}</p>
         ##<div class="badgelist-for-courses2">
           %if badge_unearned:
               %for badge2 in badge_unearned:
                       <div class="badge-demo-edx2">
                                ##<h4>Badge details ${loop.index+1}:</h4>
                               	<h4>Badge Name: ${badge2['name']}</h4>
				<h4>BadgeID: ${badge2['id']}</h4>

                                <img src=${badge2['imageUrl']} />
                                ##<h4>Strapline: ${badge['strapline']}</h4>
                                ##<h4>System details:</h4>
                                ##%for systems in badge['system']:
 ## <h6>${_("{system_details}: {system_values}").format(system_details=systems,system_values=badge['system'][systems])}</h6>

                               ## %endfor
                                ##<h4>Issuer details:</h4>
                                ##%for issuers in badge['issuer']:
 ##<h6>${_("{issuer_details}: {issuer_values}").format(issuer_details=issuers,issuer_values=badge['issuer'][issuers])}</h6>
                               ## %endfor
				##<h4>Program details:</h4>
                                ##%for programs in badge['program']:##<h6>${_("{program_details}: {program_values}").format(program_details=programs,program_values=badge['program'][programs])}</h6>
                                ##%endfor

                                ##<h4>Badge Categories: ${badge['categories']}</h4>
                                ##<h4>Consumer Description: ${badge['consumerDescription']}</h4>
                        </div>
               %endfor

             %else:
               <h2>No unearned badges available</h2>
            %endif
      ##</div>
    
      %endif	
      <div class="chapters">
        %for chapter in courseware_summary:
        %if not chapter['display_name'] == "hidden":
        <section>
          <h2>${ chapter['display_name'] }</h2>
 	 
          <div class="sections">
            %for section in chapter['sections']:
            <div>
              <%
              earned = section['section_total'].earned
              total = section['section_total'].possible
              percentageString = "{0:.0%}".format( float(earned)/total) if earned > 0 and total > 0 else ""
              %>

              <h3><a href="${reverse('courseware_section', kwargs=dict(course_id=course.id.to_deprecated_string(), chapter=chapter['url_name'], section=section['url_name']))}">
                ${ section['display_name'] }
                %if total > 0 or earned > 0:
                  <span class="sr">
                    ${_("{earned:.3n} of {total:.3n} possible points").format( earned = float(earned), total = float(total) )}
                  </span>
                %endif
                </a>
                %if total > 0 or earned > 0:
                  <span> ${"({0:.3n}/{1:.3n}) {2}".format( float(earned), float(total), percentageString )}</span>
                %endif
              </h3>
              <p>
                ${section['format']}

                %if section.get('due') is not None:
                  <%
                      formatted_string = get_time_display(section['due'], course.due_date_display_format, coerce_tz=settings.TIME_ZONE_DISPLAYED_FOR_DEADLINES)
                      due_date = '' if len(formatted_string)==0 else _(u'due {date}').format(date=formatted_string)
                  %>
                  <em>
                  ${due_date}
                  </em>
                %endif
              </p>

              <div class="scores">
                %if len(section['scores']) > 0:
                  <h3> ${ _("Problem Scores: ") if section['graded'] else _("Practice Scores: ")} </h3>
                  <ol>
                    %for score in section['scores']:
                    <li>${"{0:.3n}/{1:.3n}".format(float(score.earned),float(score.possible))}</li>
                    %endfor
                  </ol>
                %else:
                  <h3 class="no-scores"> ${_("No problem scores in this section")} </h3>
                %endif
              </div>


            </div> <!--End section-->
            %endfor
          </div> <!--End sections-->
        </section> <!--End chapter-->
        %endif
        %endfor
      </div> <!--End chapters-->

    </div>
  </div>
</div>
